<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta charset="UTF-8">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="">
    <!-- font awesome from BootstrapCDN -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/ngbp-0.3.2.css" />

    <!-- compiled JavaScript -->
    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="vendor/placeholders/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="vendor/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="vendor/angular-base64/angular-base64.min.js"></script>
    <script type="text/javascript" src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="vendor/checklist-model/checklist-model.js"></script>
    <script type="text/javascript" src="src/app/about/about.js"></script>
    <script type="text/javascript" src="src/app/account/account.js"></script>
    <script type="text/javascript" src="src/app/analyzer/analyzer.js"></script>
    <script type="text/javascript" src="src/app/app.js"></script>
    <script type="text/javascript" src="src/app/benchmark/benchmark.js"></script>
    <script type="text/javascript" src="src/app/importBenchmark/importBenchmark.js"></script>
    <script type="text/javascript" src="src/app/testResults/testResults.js"></script>
    <script type="text/javascript" src="src/app/document/document.js"></script>
    <script type="text/javascript" src="src/app/home/home.js"></script>
    <script type="text/javascript" src="src/common/plusOne/plusOne.js"></script>
    <script type="text/javascript" src="templates-common.js"></script>
    <script type="text/javascript" src="templates-app.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
     <style>
        .selected {
            background-color:#ffffb3;
            color:black;
        }
        tr.spaceUnder > td
		{
 			 padding-bottom: 1em;
		}
		[ng-click],  
		[data-ng-click],
		[x-ng-click] {
   			 cursor: pointer;
		}
		td {
			font-size:18px;
		}
		tr {
			font-size:20px;
		}
    </style>
  </head>
  <body>

    <div class="container" ui-view="main"></div>

  </body>
</html>
